/* site.css */
/* Basic Reset */
body, h1, ul, li, a, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  /* Header Styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1143edd6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .title {
    font-size: 35px;
    color: black;
    font-weight: bold;
  }

  .navbar {
    display: flex;
    margin-left:auto;
  }

  .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: #007bff;
  }

  .Login {
    background-color: #ff3b30;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .Login:hover {
    background-color: #e63900;
  }

  /* Main Container Styles */
  .main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: calc(100vh - 60px);
  }

  .image-display {
    flex: 3;
    background-color: #ccc;
    margin-right: 20px;
    height: fit-content;
    border:20px solid #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  }

  .image-display img {
     width: -webkit-fill-available;
  }

  .parameters {
    margin-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .parameter-controls label,
  .parameter-controls input {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .button-container {
    margin-top: center;
    margin-bottom:20px;
    display:flex;
  }

  .button-container button,
   .button-container a button{
    font-size:20px;
    width: 225px;
    height: 60px;
    padding: 10px;
    margin-top:40px;
    margin-bottom: -50px; /* Space between buttons */
    margin-left:10px;
    margin-right:10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

.button-container {
    width: 100%; /* Adjust if needed to match the combined width of other buttons */
    display: flex;
    justify-content: space-between; /* This will space out your buttons */
}

  .button-container button:nth-child(1) {
    background-color: #007bff;
    color: white;
  }

  .button-container button:nth-child(2) {
    background-color: #28a745;
    color: white;
  }



/*ensures each parameter label same width*/
.parameter-control label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    font-size:20px;
}

/*ensures each parameter slider has same width*/
.parameter-control input {
    width: 80%;
}

/*span display the slider value*/
.slider-value {
    display: inline-block;
    width:40px;
    text-align: right;
    margin-bottom:12px;
    margin-left:10px;
    font-size:20px;
}

/*top spacing for back button*/
.back-button-container {
    margin-top: auto;
}

.back-button {
    background-color: #007bff;
    color:white;
    padding: 10px 20px;
    text-decoration:none;
    border-radius:5px;
    display:inline-block;
}


/*darkens color when hovered on*/
.back-button:hover {
  background-color: #0056b3;
}

#parameterValuesDisplay {
/* Adjusts space below the Generate button */
  margin-top: 10px;
}

.button-and-display-container {
    text-align: center;
    margin-top: 20px; /* Adjusts space above the container */
}

#parameterValuesDisplay {
    margin-top: 5px; /* Adjusts space below the Generate button */
}

#percentageDisplay {
    font-size: 24px;
    font-bold:/* Adjust the font size to your preference */
}

/*Steve Incorporated picture at bottom*/
.bottom-left-image {
    position: fixed; /* Fixed position */
    left: 0;         /* Flush to the left side */
    bottom: 0;       /* Flush to the bottom */
    width: 300px;    /* Set the width of the image */
    height: auto;    /* Maintain aspect ratio */
}