<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><strong>Art Generator</strong>></title>
<link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='Logo.png') }}">


</head>
<body background="static/photos/Mondrian art.jpg">
<div class="header">
  <div class="title">Arti-rate</div>
    <nav class="navbar">
      <a href="{{ url_for('about') }}" class="nav-link">About</a>
      <a href="{{ url_for('gallery') }}" class="nav-link">Gallery</a>
      <a href="{{ url_for('login') }}" class="Login">Login</a>
    </nav>

</div>

<div class="main-container">
  <div class="image-display">
    <!-- Placeholder for where images will be displayed in the future -->
    {% block head %}{% endblock %}
  </div>
<!--all parameters contained in this section-->
  <div class="parameters">

    <div class="parameter-control">
      <label for="Horizontal-line-count">Horizontal Line Count</label>
      <input type="range" id="Horizontal-line-count" name="Horizontal-line-count" min="0" max="10">
      <span class="slider-value" id="Horizontal-line-count-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="Vertical-line-count">Vertical Line Count</label>
      <input type="range" id="Vertical-line-count" name="Vertical-line-count" min="0" max="15">
      <span class="slider-value" id="Vertical-line-count-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="Color-Distribution">Color Distribution</label>
      <input type="range" id="Color-Distribution" name="Color-Distribution" min="1" max="10">
      <span class="slider-value" id="Color-Distribution-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="Line-Thickness">Line Thickness</label>
      <input type="range" id="Line-Thickness" name="Line-Thickness" min="1" max="5">
      <span class="slider-value" id="Line-Thickness-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="Minimum-line-spacing">Minimum Line Spacing</label>
      <input type="range" id="Minimum-line-spacing" name="Minimum-line-spacing" min="15" max="20">
      <span class="slider-value" id="Minimum-line-spacing-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="Horizontal-rectangle-split-chance">Horizontal Rectangle Split Chance (%)</label>
      <input type="range" id="Horizontal-rectangle-split-chance" name="Horizontal-rectangle-split-chance" min="0" max="100">
      <span class="slider-value" id="Horizontal-rectangle-split-chance-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="Vertical-rectangle-split-chance">Vertical Rectangle Split Chance (%)</label>
      <input type="range" id="Vertical-rectangle-split-chance" name="Vertical-rectangle-split-chance" min="0" max="100">
      <span class="slider-value" id="Vertical-rectangle-split-chance-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="Neighboring-color-chance">Neighboring Color Chance (%)</label>
      <input type="range" id="Neighboring-color-chance" name="Neighboring-color-chance" min="0" max="100">
      <span class="slider-value" id="Neighboring-color-chance-value">0</span>
    </div>

    <div class="parameter-control">
      <label for="White-rectangle-chance">White Rectangle Chance (%)</label>
      <input type="range" id="White-rectangle-chance" name="White-rectangle-chance" min="0" max="100">
      <span class="slider-value" id="White-rectangle-chance-value">0</span>
    </div>

    <!-- Add more parameter controls as needed -->

    <div class="button-container"
         style="display: flex;">
        <button
                id="generateButton">Generate</button>


      <a href="/static/photos/image.png" download="image.png">
        <button
                style="background-color: #28a745"
                class="button"
                id="downloadButton">Download</button>
      </a>
    </div>


    <div class="button-container">
      <a href="/">
        <button
                style="background-color: #1d8214; width: 500px;margin-top: 5; "
                class="button "
                id="newCanvasButton">New Canvas
        </button>
      </a>
    </div>

    <div class="button-and-display-container">
      <div id="percentageDisplay"></div>
      <div id="parameterValuesDisplay"></div>
    </div>

  </div>
</div>

<img src="static/photos/Steve Industries.jpg" alt="Steve" class="bottom-left-image">

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>
